@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    
   background-color: rgb(41, 41, 41);
   background-image: url(img/lua-2-scaled.jpg);
   background-size: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 500px;
   margin: 0px;
    
}
main{
    width: 700px;
    height: 700px;
    padding: 10px;
    text-align: justify;
}

/*

queria fazer um mini menu de setas tipo esse da parte superior esqueda do Chrome



.setas{
    background-color: rgb(127, 255, 185);
    text-align: center;
    border: solid 5px black;
    border-radius: 40px;
    width: 50px;
    height: 22px;
    display: inline-block;
}
.setas>nav>a{
    color: black;
    border: none;
    text-align: center;
}
.seta-esquerda{
    transform: rotate(270deg);
}
.seta-direita{
    transform: rotate(90deg);
}

a{
    background-color: rgb(127, 255, 185);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px outset rgb(64, 136, 95);
    width: 300px;
    border-radius: 10px;
}
a:hover{
    background-color: rgb(200, 255, 0);
    border:3px inset rgb(200, 255, 0);
    
}
    
linha do body

<header class="setas">
        <nav class="navegação">
            <a href="#"><img src="img/seta.png" alt="" width="17px" height="17px" class="seta-direita"></a>
            <a href="#"><img src="img/seta.png" alt="" width="17px" height="17px" class="seta-esquerda"></a>
        </nav> 
    </header>


*/

h1{
    font-family: "rock salt", cursive; 
    font-size: 77px;
    color: rgb(127, 255, 185);
    
    
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
   
    font-size: 26px;
    color: rgb(127, 255, 185);
}
h3{
    color:rgb(127, 255, 155);
    
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    
    font-size: 20px;
    color: rgb(127, 255, 185);
}

footer{
    background-color:rgb(127, 255, 185);
    height: 600px;
    margin: 160px 0px 500px 0px ;
    display:flex;
    justify-content: center;
    gap: 400px;
    padding: 10px 0px 0px 0px;
   
}
footer>a{
    background-color: rgb(127, 255, 185);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px solid rgb(64, 136, 95);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 8px 0px 0px 0px;
}
footer>a:hover{
    
    background-color: rgb(200, 255, 0);
    border:3px solid rgb(158, 202, 0);
    

}